<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <form action="/api/product/{{products._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <label for="_Id">ID</label>
                    <input type="text" class="form-control" disable value="{{products._id}}" name="_Id">
                </div>
                <div class="form-group">
                    <label for="Nombre">Nombre</label>
                    <input type="text" class="form-control" value="{{products.name}}" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="Price">Price</label>
                    <input type="number" class="form-control" value="{{products.price}}" placeholder="Introduce a price" name="price">
                </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group" align="center">
                    <label for="picture">Picture</label>
                    <input type="text" class="form-control" value="{{products.picture}}" placeholder="Url for your avatar" name="avatar">
                </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" value="{{products.description}}" placeholder="Write a description" name="description">
            </div>
        </div>
        <div class="container" align="center">
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category" name="category">
                    <option selected> {{products.category}} </option>
                    <option>Computers</option>
                    <option>Phones</option>
                    <option>Accesories</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Modificar</button>
            <button type="submit" formaction="/api/product/{{products._id}}?_method=delete" method="POST" class="btn btn-primary">Eliminar</button>
            </form>
        </div>
    </div>
</div>